mixin icon(iconName, type = 'png')
  if(type == 'png')
    i(class='icon '+'icon-'+iconName)
  else
    i(class='svg-icon '+'svg-'+iconName)


mixin link(href = '',iconName = 'str-link')
  a(href=href).main-link
    .main-link-text
      +icon(iconName,'svg')
      block
    .main-link-circle
      svg( viewBox="0 0 56 59" xmlns="http://www.w3.org/2000/svg")
        circle
mixin linkBlue(href = '',iconName = 'str-news')
  a(href=href).main-link.link-blue
    .main-link-text
      +icon(iconName,'svg')
      block
    .main-link-circle
      svg( viewBox="0 0 56 59" xmlns="http://www.w3.org/2000/svg")
        circle
mixin submit()
  button.field-submit.main-link(type='submit')
    .main-link-text
      +icon('str-link','svg')
      block
    .main-link-circle
      svg( viewBox="0 0 56 59" xmlns="http://www.w3.org/2000/svg")
        circle


mixin bigLink(className,href)
  a(class=className href=href ).big-link
    .big-link-bg
      span
    .big-link-mask
      span
        block
      span
        block
      span
        block
    +icon('str-big-link-inside','svg')


mixin slider(classSlider, pagination,navigation,scrollbar)
  div(class=classSlider).swiper-container
    .swiper-wrapper
      block
    if(pagination)
      .swiper-pagination
    if(navigation)
      .swiper-button-prev
      .swiper-button-next
    if(scrollbar)
      .swiper-scrollbar

mixin fieldSelect(id,name,label,values)
  .field.field-select
    label(for=id)
      if(label)
        span.name #{label}
      select(name=name id=id)
        each val in values
          option(value=val[0]) #{val[1]}

mixin filterSelect(id,name,values)
  div(class=className).field.field-select.field-filter
    label(for=id)
      if(label)
        span.name #{label}
      select(name=name id=id)
        each val in values
          option(value=val[0]) #{val[1]}

mixin fieldBase(id,name,placeholder)
  .field.field-base
    label(for=id)
      input(type="text" name=name id=id data-required='1')
      .field-inf
        span.name #{placeholder}
        span.line
        span.errorText пожалуйста, заполните поле корректно
mixin fieldCheck(id,name)
  .field.field-check
    label(for=id)
      input(type="checkbox" name=name id=id data-required='1')
      span
        block



mixin header-products(json)
  each item,key in json
    .header-product-item.zoom-hide-item
      .header-product-text
        a.header-product-title(href="/catalog.html") #{item.name}
        each link in item.sub
          a.header-product-link #{link}
        if (item.link)
          .header-product-select
            +link() #{item.link}
      .header-product-img
        img(src=`images/category-${key+1}.png`)
