extends ../layouts/default.pug

block variables
  -var pageTitle='Каталог'

mixin production-preview-items(json)
  each item,key in json
    div(class=`${item.active}`, data-target=`target-${key}`).production-preview-item
      .production-preview-wrapper
        .production-preview-box
          .production-preview-img
            img(src=`images/cat-preview-${key+1}.png`, alt="")
          +bigLink('production-preview-but')
            |#{item.bigLink}
      if (item.link)
        .production-preview-link
          +link()
            |#{item.link}

block content
  .page
    .page-head.content.scroll-trigger.paralax-box(data-hook=0).catalog-head
      .page-head-title.section-title герметики
      .page-head-content
        .page-head-menu
          a.page-head-menu-link.active(href="") Все
          a.page-head-menu-link(href="") Акриловые
          a.page-head-menu-link(href="") силиконовые
          a.page-head-menu-link(href="") специализированные
      .page-head-bg 
        .paralax-item
          img(src="images/catalog-head.png" alt="" height="450").catalog-img
      .page-head-link
        +link()
          |подобрать герметик
    form.filter.content
      +filterSelect('application','application',[['0','первая область'],['1','вторая область'],['3','вторая область']])
      +filterSelect('material','material',[['0','материал 1'],['1','материал 2'],['3','материал 3']])
      a.filter-reset
        span.simple
          +icon('reset','svg')
        span.hover
          +icon('reset-color','svg')
        |Сбросить
    .catalog.content
      .catalog-list
        include ../modules/list_items_catalog.pug
        include ../modules/list_items_catalog.pug
        include ../modules/list_items_catalog.pug
        include ../modules/list_items_catalog.pug
      include ../modules/catalogNav.pug
    .usefulArt.content
      .section-title.usefulArt-title полезные статьи
        .usefulArt-link
          +link()
            |перейти в блог
      .blog-list.usefulArt-list
        include ../modules/list_items_blog.pug
      .usefulArt-link-mobile
        +link()
          |перейти в блог
    .nextCat.content.paralax-box
      .section-name следующая категория
      .nextCat-img
        .paralax-item
          img(src="images/nextCat.png" alt="" height="500")
      .section-title.nextCat-title Монтажные пены
        .nextCat-link
          +link()
            |ко всем монтажным пенам





    include ../modules/subscribe.pug







